/* navication bar  */
*{
    margin: 0;
    padding: 0;

   }
   .text-allcolor{
    color: #222222;
   }
   .all-type{
    background-color: black;
    color: white;
   }
 
main{
    background-color: black;
    color: white;
    max-width: 90%;
    margin: 0 auto;
}
.header{
    
    width: 95%;
    padding: 30px;
}
.nav-container{
    display: flex;
    justify-content: space-between;

}
.nav-title{
    color: #E6533C;
}
.logo{
    display: none;
}
.nav-bar ul{
    display: flex;
    list-style: none;
    gap: 20px;

}
.nav-bar a{
    text-decoration: none;
    color: white;
    
}

.color a
{
    color: #E6533C;
}



.container-style{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img-size img{
    height: 580px;
    width: 349px;
    
}
.img-size{
    display: flex;
    flex-direction: column;

}
.container-size h3{
    font-size:76px;
    
}
.btn-primary{
    background-color: #E6533C;
    width: 224px;
    height: 54px;
    border-radius: 42px;
    margin-top: 20px;
    color: white;
   }  
   .btn-primary1{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background-color: black;
    color: white;
    border: 1px solid;
   }
   .container-size p{
     margin: 24px 0 24px 0; 
   }
   .p-color{
    color: #ffffff8c;
   }
   .free{
    
    position: absolute;
    width: 145px;
    height: 20px;
    top: 190px;
    left: 1050px  
   }
   .free-1{
    background-color:  rgba(255, 255, 255, 0.205);
    border-radius: 12px;
    text-align: center;
   }
   .free-1 h1 p{
    height: 50px;
    width: 120px;

   }
   
  
   
   
   
   .video{
    position: absolute;
    width: 165px;
    height: 50px;
    top: 430px;
    left: 850px;
}
.dot {
    position: absolute;
    top: 13px;
    left: 0px;
    padding: 5px;
  
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #E6533C;
    border-radius: 50%;
    display: inline-block;
    
}
    
   
   .video-2{
    background-color:  rgba(255, 255, 255, 0.205);
    border-radius: 12px;
    text-align: center;
   }
   .img-text4{
    text-align: center;
   }
    
  .image-style{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;    
}
.image-style img{
    border-radius: 50%;

}
 .run-img{
    background-image: url('../images/run.jpg') ;
    height: 300px;
    width: 300px;
    background-position: -677px -160px;
    background-repeat: no-repeat;
    background-size: 1304px 815px;
    border-radius: 18px;
    margin-top: 20px;
 }
.style-run{
    display: flex;
    padding: 10px;
    margin-top: 20px;
    justify-content: space-between;
    background-color:#222222 ;
    padding: 40px;

}
.run-text{
    margin-top: 20px;
}
table{
    border-collapse: collapse;
    margin-top: 20px;
}
td ,th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
}
 
.input-type{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    
     
 
   
   
}
.input-type input{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    height: 48px;
    
}
#select-0{
    grid-column: 1 /span 2;
    width: 100%;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.276) ;
    

}
#gender{
    background-color: rgba(255, 255, 255, 0.107);
    border: none;
    color:  rgba(255, 255, 255, 0.276);
}

.bmi-2{
    margin-top: 30px;
    padding: 20px;
}
.bmi-color{
  color: rgba(255, 255, 255, 0.511);
}

.bmi-center{
    text-align: center;
    margin-top: 20px;
}
.bmi-text{
    margin-bottom: 20px;

}
.factor{
    grid-column: span 2;
}
.bmi-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    margin-top: 20px;
    padding: 30px;
}





.text-style{
    border: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    
}
.img-container>div>div{
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
    position: relative;
}
.img-textsize{
    position: absolute;
    top: 220px;
    left: 20px;
}


.img-1{
    background-image: url(../images/trainer1.png);
}
.img-2{
    background-image: url(../images/trainer2.png);
}
.img-3{
    background-image: url(../images/trainer3.png);
}
.img-4{
    background-image: url(../images/trainer4.png);
}
.img-5{
    background-image: url(../images/trainer5.png);

}
.img-6{
    background-image: url(../images/trainer6.png);
}



.footer{
    display: flex;
    justify-content: space-between;
    
    padding: 0px;
    background-color: #222222;
    padding: 40px; 
    margin-right: 20px;
}

.footer div{
    margin: 20px;
    border: none;

}
.footer-text{
    font-size: 30px;
}
.color-text{
    color: #E6533C;
}
.hr-style{
    display: flex;
    justify-content: center;
    align-items: center;
 
  
}
.footer-end{
    border-top: 1px solid #544141;
    margin-top: 30px;
    padding: 40px;
}